## Print Statements in Julia

In Julia, the print function is known as ***println***

In [1]:
println("Hello Aditya")

Hello Aditya

## Assigning Variables

In similar to Python, the type of the variable is determined by Julia

In [2]:
x = 1
typeof(x)

Int64

In [3]:
y = 3.67
typeof(y)

Float64

In [4]:
z = "Hello Aditya"
typeof(z)

String

In [5]:
a = 'A'
typeof(a)

Char

Here we can assign already asssigned variable to a value of different type from earlier

In [6]:
y = "Hi"

"Hi"

In [7]:
typeof(y)

String

## Comments in Julia

### Single Line Comment

In [8]:
# Statement1

### Multi-Line Comment

In [9]:
#=

Statement1
Statement2

=#

# Basic Syntax of Math Operations

### Addition

In [10]:
2 + 3

5

### Subtraction

In [11]:
3 - 2

1

### Multiplication

In [12]:
2 * 3

6

### Division

In [13]:
3 / 2

1.5

Unlike **python2** which returns "1" and Similar to **python3** which returns "1.5"

### Power

In [14]:
2 ^ 3

8

Unlike python where we use "******" as operator for power

### Modulus

In [15]:
3 % 2

1

## Strings in Julia

### Getting a String

In [16]:
s1 = "Student"

"Student"

In [19]:
S2 = """"Brilliant" Student"""

"\"Brilliant\" Student"

Main difference between two ways of getting string is that with thriple quotes we can use quotation marks with in our string

In [20]:
a = 'A'

'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)

In [21]:
a = 'Hello'

LoadError: syntax: invalid character literal

**' '** are used to define a character but not a string

In [22]:
typeof(a)

Char

### String Interpolation

In [26]:
name = "Aditya"

println("Hello $name")

Hello Aditya

"$" used to insert existing variable into a string and evaluates variable with in a string

### String Concatenation

In [27]:
string("Hello $name", " you are ", 10, " times awesome")

"Hello Aditya you are 10 times awesome"

We can also use String Interpolation or "\*" to concatenate string

In [28]:
"Hi" * " Aditya"

"Hi Aditya"

In [29]:
"Hi $name"

"Hi Aditya"

## Data structures in Julia

Arrays, tuples, Dictionaries are three major Data structures in Julia. Arrays, tuples are ordered, therefore can be accessed by index unlike Dictionaries. Arrays and Dictionaries are mutable. Unlike python in Julia indexing starts from "**1**"

### Arrays

In [10]:
a = [1, 2, 3]

3-element Array{Int64,1}:
 1
 2
 3

#### Operations on Array

In [11]:
push!(a, 4)

4-element Array{Int64,1}:
 1
 2
 3
 4

In [12]:
pop!(a)

4

In [13]:
push!(a, "four")

MethodError: MethodError: Cannot `convert` an object of type String to an object of type Int64
Closest candidates are:
  convert(::Type{T<:Number}, !Matched::T<:Number) where T<:Number at number.jl:6
  convert(::Type{T<:Number}, !Matched::Number) where T<:Number at number.jl:7
  convert(::Type{T<:Integer}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  ...

In [14]:
a = [1, 2, "three", "four"]

4-element Array{Any,1}:
 1
 2
  "three"
  "four"

In [15]:
push!(a, 5.0)

5-element Array{Any,1}:
 1
 2
  "three"
  "four"
 5.0

Unlike **python** we cannot push elements of different type to array/list if in Julia it is not initialized with elements of different type

In [22]:
a[1]

1

## Tuple

In [24]:
b = (1,2)

(1, 2)

In [25]:
typeof(b)

Tuple{Int64,Int64}

In [26]:
push!(b, 3)

MethodError: MethodError: no method matching push!(::Tuple{Int64,Int64}, ::Int64)
Closest candidates are:
  push!(::Any, ::Any, !Matched::Any) at abstractarray.jl:2064
  push!(::Any, ::Any, !Matched::Any, !Matched::Any...) at abstractarray.jl:2065
  push!(!Matched::Array{Any,1}, ::Any) at array.jl:862
  ...

In [27]:
pop!(b)

MethodError: MethodError: no method matching pop!(::Tuple{Int64,Int64})
Closest candidates are:
  pop!(!Matched::BitArray{1}) at bitarray.jl:784
  pop!(!Matched::BitSet) at bitset.jl:237
  pop!(!Matched::BitSet, !Matched::Integer) at bitset.jl:240
  ...

In [28]:
b = (1, "two")

(1, "two")

In [29]:
typeof(b)

Tuple{Int64,String}

In [30]:
b[1]

1

## Dictionaries

In [31]:
c = Dict("Name" => "Aditya", "College" => "IIITB")

Dict{String,String} with 2 entries:
  "College" => "IIITB"
  "Name"    => "Aditya"

In [33]:
c["Organization"] = "SanDisk"

Dict{String,String}

In [34]:
c

Dict{String,String} with 3 entries:
  "College"      => "IIITB"
  "Name"         => "Aditya"
  "Organization" => "SanDisk"

In [35]:
push!(c, "City" => "Bangalore")

Dict{String,String} with 4 entries:
  "College"      => "IIITB"
  "City"         => "Bangalore"
  "Name"         => "Aditya"
  "Organization" => "SanDisk"

In [36]:
pop!(c, "Organization")

"SanDisk"

In [37]:
c

Dict{String,String} with 3 entries:
  "College" => "IIITB"
  "City"    => "Bangalore"
  "Name"    => "Aditya"

In [38]:
c[1]

KeyError: KeyError: key 1 not found